body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#splashScreen, #feedbackPopup, #aboutPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0077B5;
    color: white;
    cursor: pointer;
}

input[type="text"], input[type="number"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

#splashScreen {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-in #splashScreen {
    opacity: 1;
}
